{
  "http_interactions": [
    {
      "recorded_at": "2017-08-18T17:14:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "---REDACTED---"
        },
        "method": "DELETE",
        "uri": "https://api.github.com/repos/jwodder/test/labels/Test%20Label"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Content-Type": "application/octet-stream",
          "Status": "204 No Content",
          "X-GitHub-Media-Type": "github.drax-preview, github.mercy-preview, github.squirrel-girl-preview",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4980",
          "X-RateLimit-Reset": "1503077033"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://api.github.com/repos/jwodder/test/labels/Test%20Label"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
