{
  "http_interactions": [
    {
      "recorded_at": "2017-09-26T15:02:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"\", \"body\": \"\", \"draft\": false, \"tag_name\": \"v0.0.0\", \"prerelease\": false}"
        },
        "headers": {
          "Authorization": "---REDACTED---",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/jwodder/test/releases"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"url\":\"https://api.github.com/repos/jwodder/test/releases/7895578\",\"assets_url\":\"https://api.github.com/repos/jwodder/test/releases/7895578/assets\",\"upload_url\":\"https://uploads.github.com/repos/jwodder/test/releases/7895578/assets{?name,label}\",\"html_url\":\"https://github.com/jwodder/test/releases/tag/v0.0.0\",\"id\":7895578,\"tag_name\":\"v0.0.0\",\"target_commitish\":\"master\",\"name\":\"\",\"draft\":false,\"author\":{\"login\":\"jwodder\",\"id\":98207,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/98207?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jwodder\",\"html_url\":\"https://github.com/jwodder\",\"followers_url\":\"https://api.github.com/users/jwodder/followers\",\"following_url\":\"https://api.github.com/users/jwodder/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jwodder/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jwodder/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jwodder/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jwodder/orgs\",\"repos_url\":\"https://api.github.com/users/jwodder/repos\",\"events_url\":\"https://api.github.com/users/jwodder/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jwodder/received_events\",\"type\":\"User\",\"site_admin\":false},\"prerelease\":false,\"created_at\":\"2017-09-24T23:46:48Z\",\"published_at\":\"2017-09-26T15:02:29Z\",\"assets\":[],\"tarball_url\":\"https://api.github.com/repos/jwodder/test/tarball/v0.0.0\",\"zipball_url\":\"https://api.github.com/repos/jwodder/test/zipball/v0.0.0\",\"body\":\"\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"f61833f7b257596191613fe9384bfc2d\"",
          "Location": "https://api.github.com/repos/jwodder/test/releases/7895578",
          "Status": "201 Created",
          "X-GitHub-Media-Type": "github.drax-preview, github.mercy-preview, github.squirrel-girl-preview",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4993",
          "X-RateLimit-Reset": "1506438382"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/jwodder/test/releases"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}