{
  "http_interactions": [
    {
      "recorded_at": "2018-10-29T18:05:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"color\": \"FF0000\", \"description\": \"This label is a test.\", \"name\": \"Test Label 2\"}"
        },
        "headers": {
          "Authorization": [
            "---REDACTED---"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/jwodder/test/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1108950320,\"node_id\":\"MDU6TGFiZWwxMTA4OTUwMzIw\",\"url\":\"https://api.github.com/repos/jwodder/test/labels/Test%20Label%202\",\"name\":\"Test Label 2\",\"color\":\"FF0000\",\"default\":false,\"description\":\"This label is a test.\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "ETag": [
            "\"f01a0da49ad9481d7718cecf02acbd88\""
          ],
          "Location": [
            "https://api.github.com/repos/jwodder/test/labels/Test%20Label%202"
          ],
          "Status": [
            "201 Created"
          ],
          "X-GitHub-Media-Type": [
            "github.mercy-preview, github.squirrel-girl-preview, github.symmetra-preview; format=json"
          ],
          "X-RateLimit-Limit": [
            "5000"
          ],
          "X-RateLimit-Remaining": [
            "4945"
          ],
          "X-RateLimit-Reset": [
            "1540837415"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/jwodder/test/labels"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}