{
  "http_interactions": [
    {
      "recorded_at": "2017-08-18T17:14:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Test Label\", \"color\": \"FF0000\"}"
        },
        "headers": {
          "Authorization": "---REDACTED---",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/jwodder/test/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":671710206,\"url\":\"https://api.github.com/repos/jwodder/test/labels/Test%20Label\",\"name\":\"Test Label\",\"color\":\"FF0000\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"5310095ebf35bbe8b11d70038713a3b0\"",
          "Location": "https://api.github.com/repos/jwodder/test/labels/Test%20Label",
          "Status": "201 Created",
          "X-GitHub-Media-Type": "github.drax-preview, github.mercy-preview, github.squirrel-girl-preview",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4981",
          "X-RateLimit-Reset": "1503077033"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/jwodder/test/labels"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
