{
  "http_interactions": [
    {
      "recorded_at": "2017-08-02T18:44:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"files\": {\"<stdin>\": {\"content\": \"This is stdin.\"}}, \"public\": true}"
        },
        "headers": {
          "Authorization": "---REDACTED---",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.github.com/gists"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"url\":\"https://api.github.com/gists/7577ef3391fd07516aa207eef5f626be\",\"forks_url\":\"https://api.github.com/gists/7577ef3391fd07516aa207eef5f626be/forks\",\"commits_url\":\"https://api.github.com/gists/7577ef3391fd07516aa207eef5f626be/commits\",\"id\":\"7577ef3391fd07516aa207eef5f626be\",\"git_pull_url\":\"https://gist.github.com/7577ef3391fd07516aa207eef5f626be.git\",\"git_push_url\":\"https://gist.github.com/7577ef3391fd07516aa207eef5f626be.git\",\"html_url\":\"https://gist.github.com/7577ef3391fd07516aa207eef5f626be\",\"files\":{\"<stdin>\":{\"filename\":\"<stdin>\",\"type\":\"text/plain\",\"language\":null,\"raw_url\":\"https://gist.githubusercontent.com/jwodder/7577ef3391fd07516aa207eef5f626be/raw/4262ec90ea000a131b930ec60ddac44e3a76545e/%3Cstdin%3E\",\"size\":14,\"truncated\":false,\"content\":\"This is stdin.\"}},\"public\":true,\"created_at\":\"2017-08-02T18:44:30Z\",\"updated_at\":\"2017-08-02T18:44:30Z\",\"description\":null,\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/7577ef3391fd07516aa207eef5f626be/comments\",\"owner\":{\"login\":\"jwodder\",\"id\":98207,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/98207?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jwodder\",\"html_url\":\"https://github.com/jwodder\",\"followers_url\":\"https://api.github.com/users/jwodder/followers\",\"following_url\":\"https://api.github.com/users/jwodder/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jwodder/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jwodder/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jwodder/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jwodder/orgs\",\"repos_url\":\"https://api.github.com/users/jwodder/repos\",\"events_url\":\"https://api.github.com/users/jwodder/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jwodder/received_events\",\"type\":\"User\",\"site_admin\":false},\"forks\":[],\"history\":[{\"user\":{\"login\":\"jwodder\",\"id\":98207,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/98207?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jwodder\",\"html_url\":\"https://github.com/jwodder\",\"followers_url\":\"https://api.github.com/users/jwodder/followers\",\"following_url\":\"https://api.github.com/users/jwodder/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jwodder/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jwodder/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jwodder/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jwodder/orgs\",\"repos_url\":\"https://api.github.com/users/jwodder/repos\",\"events_url\":\"https://api.github.com/users/jwodder/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jwodder/received_events\",\"type\":\"User\",\"site_admin\":false},\"version\":\"e0cade897ec046af3ca5ad2ce15a730e46ad41b9\",\"committed_at\":\"2017-08-02T18:44:30Z\",\"change_status\":{\"total\":1,\"additions\":1,\"deletions\":0},\"url\":\"https://api.github.com/gists/7577ef3391fd07516aa207eef5f626be/e0cade897ec046af3ca5ad2ce15a730e46ad41b9\"}],\"truncated\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"752a82cc608281bdb639cda8c13ed44c\"",
          "Location": "https://api.github.com/gists/7577ef3391fd07516aa207eef5f626be",
          "Status": "201 Created",
          "X-GitHub-Media-Type": "github.drax-preview, github.mercy-preview, github.squirrel-girl-preview",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4985",
          "X-RateLimit-Reset": "1501700854"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/gists"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
