{
  "http_interactions": [
    {
      "recorded_at": "2017-08-02T18:23:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"files\": {\"standard input\": {\"content\": \"This is stdin.\"}}, \"public\": true}"
        },
        "headers": {
          "Authorization": "---REDACTED---",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.github.com/gists"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"url\":\"https://api.github.com/gists/5a302aefacbd11c7c7b1fc1684bea669\",\"forks_url\":\"https://api.github.com/gists/5a302aefacbd11c7c7b1fc1684bea669/forks\",\"commits_url\":\"https://api.github.com/gists/5a302aefacbd11c7c7b1fc1684bea669/commits\",\"id\":\"5a302aefacbd11c7c7b1fc1684bea669\",\"git_pull_url\":\"https://gist.github.com/5a302aefacbd11c7c7b1fc1684bea669.git\",\"git_push_url\":\"https://gist.github.com/5a302aefacbd11c7c7b1fc1684bea669.git\",\"html_url\":\"https://gist.github.com/5a302aefacbd11c7c7b1fc1684bea669\",\"files\":{\"standard input\":{\"filename\":\"standard input\",\"type\":\"text/plain\",\"language\":null,\"raw_url\":\"https://gist.githubusercontent.com/jwodder/5a302aefacbd11c7c7b1fc1684bea669/raw/4262ec90ea000a131b930ec60ddac44e3a76545e/standard%20input\",\"size\":14,\"truncated\":false,\"content\":\"This is stdin.\"}},\"public\":true,\"created_at\":\"2017-08-02T18:23:47Z\",\"updated_at\":\"2017-08-02T18:23:47Z\",\"description\":null,\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/5a302aefacbd11c7c7b1fc1684bea669/comments\",\"owner\":{\"login\":\"jwodder\",\"id\":98207,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/98207?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jwodder\",\"html_url\":\"https://github.com/jwodder\",\"followers_url\":\"https://api.github.com/users/jwodder/followers\",\"following_url\":\"https://api.github.com/users/jwodder/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jwodder/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jwodder/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jwodder/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jwodder/orgs\",\"repos_url\":\"https://api.github.com/users/jwodder/repos\",\"events_url\":\"https://api.github.com/users/jwodder/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jwodder/received_events\",\"type\":\"User\",\"site_admin\":false},\"forks\":[],\"history\":[{\"user\":{\"login\":\"jwodder\",\"id\":98207,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/98207?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jwodder\",\"html_url\":\"https://github.com/jwodder\",\"followers_url\":\"https://api.github.com/users/jwodder/followers\",\"following_url\":\"https://api.github.com/users/jwodder/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jwodder/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jwodder/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jwodder/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jwodder/orgs\",\"repos_url\":\"https://api.github.com/users/jwodder/repos\",\"events_url\":\"https://api.github.com/users/jwodder/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jwodder/received_events\",\"type\":\"User\",\"site_admin\":false},\"version\":\"5a93696fdf59480fd186c9a3573e8a71c3a08c84\",\"committed_at\":\"2017-08-02T18:23:46Z\",\"change_status\":{\"total\":1,\"additions\":1,\"deletions\":0},\"url\":\"https://api.github.com/gists/5a302aefacbd11c7c7b1fc1684bea669/5a93696fdf59480fd186c9a3573e8a71c3a08c84\"}],\"truncated\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"a2dbb0c80edb127d381d9f703c8f2cde\"",
          "Location": "https://api.github.com/gists/5a302aefacbd11c7c7b1fc1684bea669",
          "Status": "201 Created",
          "X-GitHub-Media-Type": "github.drax-preview, github.mercy-preview, github.squirrel-girl-preview",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4991",
          "X-RateLimit-Reset": "1501700854"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/gists"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
