{
  "http_interactions": [
    {
      "recorded_at": "2017-08-02T18:23:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"description\": \"Two files\", \"files\": {\"lorem.txt\": {\"content\": \"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\\n\"}, \"life.py\": {\"content\": \"from collections import Counter\\n\\ndef life(before):\\n    \\\"\\\"\\\"\\n    Takes as input a state of Conway's Game of Life, represented as an iterable\\n    of ``(int, int)`` pairs giving the coordinates of living cells, and returns\\n    a `set` of ``(int, int)`` pairs representing the next state\\n    \\\"\\\"\\\"\\n    before = set(before)\\n    neighbors = Counter(\\n        (x+i, y+j) for (x,y) in before\\n                   for i in [-1,0,1]\\n                   for j in [-1,0,1]\\n                   if (i,j) != (0,0)\\n    )\\n    return {xy for (xy, n) in neighbors.items()\\n               if n == 3 or (n == 2 and xy in before)}\\n\"}}, \"public\": true}"
        },
        "headers": {
          "Authorization": "---REDACTED---",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.github.com/gists"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"url\":\"https://api.github.com/gists/46b547788a193f706ca66b9519780e58\",\"forks_url\":\"https://api.github.com/gists/46b547788a193f706ca66b9519780e58/forks\",\"commits_url\":\"https://api.github.com/gists/46b547788a193f706ca66b9519780e58/commits\",\"id\":\"46b547788a193f706ca66b9519780e58\",\"git_pull_url\":\"https://gist.github.com/46b547788a193f706ca66b9519780e58.git\",\"git_push_url\":\"https://gist.github.com/46b547788a193f706ca66b9519780e58.git\",\"html_url\":\"https://gist.github.com/46b547788a193f706ca66b9519780e58\",\"files\":{\"life.py\":{\"filename\":\"life.py\",\"type\":\"application/x-python\",\"language\":\"Python\",\"raw_url\":\"https://gist.githubusercontent.com/jwodder/46b547788a193f706ca66b9519780e58/raw/f3e251d5db162c0fb419bd3179b120f522c6ee83/life.py\",\"size\":600,\"truncated\":false,\"content\":\"from collections import Counter\\n\\ndef life(before):\\n    \\\"\\\"\\\"\\n    Takes as input a state of Conway's Game of Life, represented as an iterable\\n    of ``(int, int)`` pairs giving the coordinates of living cells, and returns\\n    a `set` of ``(int, int)`` pairs representing the next state\\n    \\\"\\\"\\\"\\n    before = set(before)\\n    neighbors = Counter(\\n        (x+i, y+j) for (x,y) in before\\n                   for i in [-1,0,1]\\n                   for j in [-1,0,1]\\n                   if (i,j) != (0,0)\\n    )\\n    return {xy for (xy, n) in neighbors.items()\\n               if n == 3 or (n == 2 and xy in before)}\\n\"},\"lorem.txt\":{\"filename\":\"lorem.txt\",\"type\":\"text/plain\",\"language\":\"Text\",\"raw_url\":\"https://gist.githubusercontent.com/jwodder/46b547788a193f706ca66b9519780e58/raw/ebe3d387302051a9d40f5cd9e09b9b2af7a8db40/lorem.txt\",\"size\":450,\"truncated\":false,\"content\":\"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\\n\"}},\"public\":true,\"created_at\":\"2017-08-02T18:23:42Z\",\"updated_at\":\"2017-08-02T18:23:42Z\",\"description\":\"Two files\",\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/46b547788a193f706ca66b9519780e58/comments\",\"owner\":{\"login\":\"jwodder\",\"id\":98207,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/98207?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jwodder\",\"html_url\":\"https://github.com/jwodder\",\"followers_url\":\"https://api.github.com/users/jwodder/followers\",\"following_url\":\"https://api.github.com/users/jwodder/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jwodder/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jwodder/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jwodder/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jwodder/orgs\",\"repos_url\":\"https://api.github.com/users/jwodder/repos\",\"events_url\":\"https://api.github.com/users/jwodder/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jwodder/received_events\",\"type\":\"User\",\"site_admin\":false},\"forks\":[],\"history\":[{\"user\":{\"login\":\"jwodder\",\"id\":98207,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/98207?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jwodder\",\"html_url\":\"https://github.com/jwodder\",\"followers_url\":\"https://api.github.com/users/jwodder/followers\",\"following_url\":\"https://api.github.com/users/jwodder/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jwodder/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jwodder/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jwodder/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jwodder/orgs\",\"repos_url\":\"https://api.github.com/users/jwodder/repos\",\"events_url\":\"https://api.github.com/users/jwodder/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jwodder/received_events\",\"type\":\"User\",\"site_admin\":false},\"version\":\"1f56262d76c073df93aafe0f0280a3c91480523e\",\"committed_at\":\"2017-08-02T18:23:42Z\",\"change_status\":{\"total\":18,\"additions\":18,\"deletions\":0},\"url\":\"https://api.github.com/gists/46b547788a193f706ca66b9519780e58/1f56262d76c073df93aafe0f0280a3c91480523e\"}],\"truncated\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"5233017881c798e5f23b58d0e829fff0\"",
          "Location": "https://api.github.com/gists/46b547788a193f706ca66b9519780e58",
          "Status": "201 Created",
          "X-GitHub-Media-Type": "github.drax-preview, github.mercy-preview, github.squirrel-girl-preview",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4995",
          "X-RateLimit-Reset": "1501700854"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/gists"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
