{
  "http_interactions": [
    {
      "recorded_at": "2017-09-11T15:33:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"private\": false, \"description\": null, \"has_issues\": true, \"homepage\": null, \"allow_rebase_merge\": true, \"allow_squash_merge\": true, \"name\": \"test\", \"license_template\": null, \"allow_merge_commit\": true, \"auto_init\": false, \"gitignore_template\": null, \"has_wiki\": true}"
        },
        "headers": {
          "Authorization": "---REDACTED---",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.github.com/user/repos"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":103154035,\"name\":\"test\",\"full_name\":\"jwodder/test\",\"owner\":{\"login\":\"jwodder\",\"id\":98207,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/98207?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jwodder\",\"html_url\":\"https://github.com/jwodder\",\"followers_url\":\"https://api.github.com/users/jwodder/followers\",\"following_url\":\"https://api.github.com/users/jwodder/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jwodder/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jwodder/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jwodder/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jwodder/orgs\",\"repos_url\":\"https://api.github.com/users/jwodder/repos\",\"events_url\":\"https://api.github.com/users/jwodder/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jwodder/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/jwodder/test\",\"description\":null,\"fork\":false,\"url\":\"https://api.github.com/repos/jwodder/test\",\"forks_url\":\"https://api.github.com/repos/jwodder/test/forks\",\"keys_url\":\"https://api.github.com/repos/jwodder/test/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/jwodder/test/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/jwodder/test/teams\",\"hooks_url\":\"https://api.github.com/repos/jwodder/test/hooks\",\"issue_events_url\":\"https://api.github.com/repos/jwodder/test/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/jwodder/test/events\",\"assignees_url\":\"https://api.github.com/repos/jwodder/test/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/jwodder/test/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/jwodder/test/tags\",\"blobs_url\":\"https://api.github.com/repos/jwodder/test/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/jwodder/test/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/jwodder/test/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/jwodder/test/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/jwodder/test/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/jwodder/test/languages\",\"stargazers_url\":\"https://api.github.com/repos/jwodder/test/stargazers\",\"contributors_url\":\"https://api.github.com/repos/jwodder/test/contributors\",\"subscribers_url\":\"https://api.github.com/repos/jwodder/test/subscribers\",\"subscription_url\":\"https://api.github.com/repos/jwodder/test/subscription\",\"commits_url\":\"https://api.github.com/repos/jwodder/test/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/jwodder/test/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/jwodder/test/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/jwodder/test/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/jwodder/test/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/jwodder/test/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/jwodder/test/merges\",\"archive_url\":\"https://api.github.com/repos/jwodder/test/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/jwodder/test/downloads\",\"issues_url\":\"https://api.github.com/repos/jwodder/test/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/jwodder/test/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/jwodder/test/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/jwodder/test/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/jwodder/test/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/jwodder/test/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/jwodder/test/deployments\",\"created_at\":\"2017-09-11T15:33:42Z\",\"updated_at\":\"2017-09-11T15:33:42Z\",\"pushed_at\":\"2017-09-11T15:33:42Z\",\"git_url\":\"git://github.com/jwodder/test.git\",\"ssh_url\":\"git@github.com:jwodder/test.git\",\"clone_url\":\"https://github.com/jwodder/test.git\",\"svn_url\":\"https://github.com/jwodder/test\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"topics\":[],\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"allow_squash_merge\":true,\"allow_merge_commit\":true,\"allow_rebase_merge\":true,\"network_count\":0,\"subscribers_count\":1}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"80e208b7bebccc1f205bf0196e20fd10\"",
          "Location": "https://api.github.com/repos/jwodder/test",
          "Status": "201 Created",
          "X-GitHub-Media-Type": "github.drax-preview, github.mercy-preview, github.squirrel-girl-preview",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4994",
          "X-RateLimit-Reset": "1505144811"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/user/repos"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}