{
  "http_interactions": [
    {
      "recorded_at": "2017-08-02T18:23:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"files\": {\"duped.dat\": {\"content\": \"from collections import Counter\\n\\ndef life(before):\\n    \\\"\\\"\\\"\\n    Takes as input a state of Conway's Game of Life, represented as an iterable\\n    of ``(int, int)`` pairs giving the coordinates of living cells, and returns\\n    a `set` of ``(int, int)`` pairs representing the next state\\n    \\\"\\\"\\\"\\n    before = set(before)\\n    neighbors = Counter(\\n        (x+i, y+j) for (x,y) in before\\n                   for i in [-1,0,1]\\n                   for j in [-1,0,1]\\n                   if (i,j) != (0,0)\\n    )\\n    return {xy for (xy, n) in neighbors.items()\\n               if n == 3 or (n == 2 and xy in before)}\\n\"}}, \"public\": true}"
        },
        "headers": {
          "Authorization": "---REDACTED---",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.github.com/gists"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"url\":\"https://api.github.com/gists/493ee12c1af8825cb706735f95b34bad\",\"forks_url\":\"https://api.github.com/gists/493ee12c1af8825cb706735f95b34bad/forks\",\"commits_url\":\"https://api.github.com/gists/493ee12c1af8825cb706735f95b34bad/commits\",\"id\":\"493ee12c1af8825cb706735f95b34bad\",\"git_pull_url\":\"https://gist.github.com/493ee12c1af8825cb706735f95b34bad.git\",\"git_push_url\":\"https://gist.github.com/493ee12c1af8825cb706735f95b34bad.git\",\"html_url\":\"https://gist.github.com/493ee12c1af8825cb706735f95b34bad\",\"files\":{\"duped.dat\":{\"filename\":\"duped.dat\",\"type\":\"text/plain\",\"language\":null,\"raw_url\":\"https://gist.githubusercontent.com/jwodder/493ee12c1af8825cb706735f95b34bad/raw/f3e251d5db162c0fb419bd3179b120f522c6ee83/duped.dat\",\"size\":600,\"truncated\":false,\"content\":\"from collections import Counter\\n\\ndef life(before):\\n    \\\"\\\"\\\"\\n    Takes as input a state of Conway's Game of Life, represented as an iterable\\n    of ``(int, int)`` pairs giving the coordinates of living cells, and returns\\n    a `set` of ``(int, int)`` pairs representing the next state\\n    \\\"\\\"\\\"\\n    before = set(before)\\n    neighbors = Counter(\\n        (x+i, y+j) for (x,y) in before\\n                   for i in [-1,0,1]\\n                   for j in [-1,0,1]\\n                   if (i,j) != (0,0)\\n    )\\n    return {xy for (xy, n) in neighbors.items()\\n               if n == 3 or (n == 2 and xy in before)}\\n\"}},\"public\":true,\"created_at\":\"2017-08-02T18:23:51Z\",\"updated_at\":\"2017-08-02T18:23:51Z\",\"description\":null,\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/493ee12c1af8825cb706735f95b34bad/comments\",\"owner\":{\"login\":\"jwodder\",\"id\":98207,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/98207?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jwodder\",\"html_url\":\"https://github.com/jwodder\",\"followers_url\":\"https://api.github.com/users/jwodder/followers\",\"following_url\":\"https://api.github.com/users/jwodder/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jwodder/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jwodder/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jwodder/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jwodder/orgs\",\"repos_url\":\"https://api.github.com/users/jwodder/repos\",\"events_url\":\"https://api.github.com/users/jwodder/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jwodder/received_events\",\"type\":\"User\",\"site_admin\":false},\"forks\":[],\"history\":[{\"user\":{\"login\":\"jwodder\",\"id\":98207,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/98207?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jwodder\",\"html_url\":\"https://github.com/jwodder\",\"followers_url\":\"https://api.github.com/users/jwodder/followers\",\"following_url\":\"https://api.github.com/users/jwodder/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jwodder/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jwodder/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jwodder/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jwodder/orgs\",\"repos_url\":\"https://api.github.com/users/jwodder/repos\",\"events_url\":\"https://api.github.com/users/jwodder/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jwodder/received_events\",\"type\":\"User\",\"site_admin\":false},\"version\":\"7f1c1c01e2083fc0b92725da3c7d4678c8e7076f\",\"committed_at\":\"2017-08-02T18:23:50Z\",\"change_status\":{\"total\":17,\"additions\":17,\"deletions\":0},\"url\":\"https://api.github.com/gists/493ee12c1af8825cb706735f95b34bad/7f1c1c01e2083fc0b92725da3c7d4678c8e7076f\"}],\"truncated\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"2d36710f8fc748763d2adf1f98935c4b\"",
          "Location": "https://api.github.com/gists/493ee12c1af8825cb706735f95b34bad",
          "Status": "201 Created",
          "X-GitHub-Media-Type": "github.drax-preview, github.mercy-preview, github.squirrel-girl-preview",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4988",
          "X-RateLimit-Reset": "1501700854"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/gists"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
