{
  "http_interactions": [
    {
      "recorded_at": "2018-09-25T14:50:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"has_wiki\": true, \"private\": false, \"allow_merge_commit\": true, \"auto_init\": false, \"allow_squash_merge\": true, \"has_issues\": true, \"allow_rebase_merge\": true, \"name\": \"test\"}"
        },
        "headers": {
          "Authorization": [
            "---REDACTED---"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.github.com/user/repos"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":150282389,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxNTAyODIzODk=\",\"name\":\"test\",\"full_name\":\"jwodder/test\",\"private\":false,\"owner\":{\"login\":\"jwodder\",\"id\":98207,\"node_id\":\"MDQ6VXNlcjk4MjA3\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/98207?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jwodder\",\"html_url\":\"https://github.com/jwodder\",\"followers_url\":\"https://api.github.com/users/jwodder/followers\",\"following_url\":\"https://api.github.com/users/jwodder/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jwodder/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jwodder/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jwodder/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jwodder/orgs\",\"repos_url\":\"https://api.github.com/users/jwodder/repos\",\"events_url\":\"https://api.github.com/users/jwodder/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jwodder/received_events\",\"type\":\"User\",\"site_admin\":false},\"html_url\":\"https://github.com/jwodder/test\",\"description\":null,\"fork\":false,\"url\":\"https://api.github.com/repos/jwodder/test\",\"forks_url\":\"https://api.github.com/repos/jwodder/test/forks\",\"keys_url\":\"https://api.github.com/repos/jwodder/test/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/jwodder/test/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/jwodder/test/teams\",\"hooks_url\":\"https://api.github.com/repos/jwodder/test/hooks\",\"issue_events_url\":\"https://api.github.com/repos/jwodder/test/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/jwodder/test/events\",\"assignees_url\":\"https://api.github.com/repos/jwodder/test/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/jwodder/test/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/jwodder/test/tags\",\"blobs_url\":\"https://api.github.com/repos/jwodder/test/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/jwodder/test/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/jwodder/test/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/jwodder/test/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/jwodder/test/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/jwodder/test/languages\",\"stargazers_url\":\"https://api.github.com/repos/jwodder/test/stargazers\",\"contributors_url\":\"https://api.github.com/repos/jwodder/test/contributors\",\"subscribers_url\":\"https://api.github.com/repos/jwodder/test/subscribers\",\"subscription_url\":\"https://api.github.com/repos/jwodder/test/subscription\",\"commits_url\":\"https://api.github.com/repos/jwodder/test/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/jwodder/test/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/jwodder/test/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/jwodder/test/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/jwodder/test/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/jwodder/test/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/jwodder/test/merges\",\"archive_url\":\"https://api.github.com/repos/jwodder/test/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/jwodder/test/downloads\",\"issues_url\":\"https://api.github.com/repos/jwodder/test/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/jwodder/test/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/jwodder/test/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/jwodder/test/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/jwodder/test/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/jwodder/test/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/jwodder/test/deployments\",\"created_at\":\"2018-09-25T14:49:59Z\",\"updated_at\":\"2018-09-25T14:49:59Z\",\"pushed_at\":\"2018-09-25T14:50:00Z\",\"git_url\":\"git://github.com/jwodder/test.git\",\"ssh_url\":\"git@github.com:jwodder/test.git\",\"clone_url\":\"https://github.com/jwodder/test.git\",\"svn_url\":\"https://github.com/jwodder/test\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"topics\":[],\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"allow_squash_merge\":true,\"allow_merge_commit\":true,\"allow_rebase_merge\":true,\"network_count\":0,\"subscribers_count\":1}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "ETag": [
            "\"abc4bce26ed33618e6c0573f6897639a\""
          ],
          "Location": [
            "https://api.github.com/repos/jwodder/test"
          ],
          "Status": [
            "201 Created"
          ],
          "X-GitHub-Media-Type": [
            "github.mercy-preview, github.squirrel-girl-preview"
          ],
          "X-RateLimit-Limit": [
            "5000"
          ],
          "X-RateLimit-Remaining": [
            "4999"
          ],
          "X-RateLimit-Reset": [
            "1537890600"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/user/repos"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}