{
  "http_interactions": [
    {
      "recorded_at": "2017-08-27T18:54:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "---REDACTED---"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/jwodder/ghutil/milestones"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"ea853f348c301e4ecdb6bafc8824fcdb\"",
          "Status": "200 OK",
          "X-GitHub-Media-Type": "github.drax-preview, github.mercy-preview, github.squirrel-girl-preview",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4908",
          "X-RateLimit-Reset": "1503860236"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/jwodder/ghutil/milestones"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
